{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
	<div class="example-wrapper">

    <h1>Create new Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">back to list</a>
    </div>
{% endblock %}
