/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Arial";
}

.example-wrapper, article, footer {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 1em;
}

span {
    text-align: center;
    font-size: 0.75em;
    font-style: oblique;
}

body, button, .button {
    background: rgb(255, 127, 176);
    background: linear-gradient(270deg, rgba(255, 127, 176, 1) 0%, rgba(143, 36, 255, 1) 100%);
}

button, .button {
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    margin: 10px;
    padding: 5px;
}

.button {
    min-width: 200px;
}

form {
    text-align: center;
}

input {
    border-radius: 5px;
}

.grid {
    display: grid;
    row-gap: 10px;
    ;
    grid-template-columns: 1fr 1fr;
}

h1, h2, u, blockquote, span {
    background: linear-gradient(to right, rgba(255, 127, 176, 1), rgba(143, 36, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

nav ul {
    white-space: nowrap;
}

nav li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #c84678;
    background-color: white;
    min-width: 10vw;
    text-align: center;
}

.sub {
    color: #aa46c8;
    margin-top: 0;
    min-width: 5vw;
}

nav li:after, h1:after, h2:after {
    font-weight: bolder;
    content: " ☆";
}

a {
    text-decoration: inherit;
    color: inherit;
}