<nav>
	<ul>
		<li><a href="/main">Index</a></li>
		<li><a href="/accueil">Accueil</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/add">Add</a></li>
		<li><a href="/show">Show</a></li>
	</ul>
</nav>
