doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    block head
  body
nav
  ul
    li
      a(href='/') Index
    li
      a(href='/chat') Chat
  block content
